name: PR Build Snap

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      platforms: ${{ steps.build.outputs.platforms }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Extract platforms from snapcraft.yaml
        id: extract
        run: |
          # Output a compact JSON array of platform keys, e.g. ["amd64","arm64"]
          echo "platforms=$(yq '.platforms | keys' -oj -I0 snap/snapcraft.yaml)" >> $GITHUB_OUTPUT

      - name: Build for ${{ steps.extract.outputs.platforms }}
        id: build
        run: |
          set -xuo pipefail

          # Read platforms JSON array from previous step
          platforms="$(echo "${{ steps.extract.outputs.platforms}}" | yq 'to_entries | map({"key": .value, "value": {}}) | from_entries' -oj -I0)"

          # Convert array to mapping: {"amd64": {}, "arm64": {}}
          platforms_map=$(jq -c 'reduce .[] as $p ({}; .[$p]={})' <<< "$platforms_json")

          sudo snap install snapcraft --classic
          export SNAPCRAFT_STORE_CREDENTIALS="${{ secrets.SNAPCRAFT_STORE_CREDENTIALS }}"
          snapcraft whoami || true
          mkdir -p ~/.local/share/snapcraft
          echo "${{ secrets.LAUNCHPAD_CREDENTIALS }}" > ~/.local/share/snapcraft/launchpad-credentials

          # Build for comma-separated list of arches
          snapcraft remote-build -v --launchpad-accept-public-upload \
            --build-for=$(jq -r 'keys | join(",")' <<< "$platforms_map")

          # Collect artifacts per arch
          for p in $(jq -r 'keys[]' <<< "$platforms_map"); do
            snf=$(ls -d "${PWD}"/zwave-js-ui*_"${p}".snap 2>/dev/null || true)
            lfn=$(ls -d "${PWD}"/snapcraft-*_"${p}"_*.txt 2>/dev/null || true)

            if [[ -n "$snf" ]]; then
              platforms_map=$(jq --arg p "$p" --arg snf "$snf" '.[$p].snf = $snf' <<< "$platforms_map")
            else
              platforms_map=$(jq --arg p "$p" '.[$p].snf = "ERR"' <<< "$platforms_map")
            fi

            platforms_map=$(jq --arg p "$p" --arg lfn "$lfn" '.[$p].lfn = $lfn' <<< "$platforms_map")
          done

          # Convert mapping to array of objects: [{arch: "amd64", snf: "...", lfn: "..."}, ...]
          platforms_array=$(jq -c 'to_entries | map({arch:.key} + .value)' <<< "$platforms_map")

          echo "$platforms_array"
          echo "platforms=$platforms_array" >> $GITHUB_OUTPUT

  upload:
    needs: build 
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platforms: ${{ fromJson(needs.build.outputs.platforms) }}
      fail-fast: true
    steps:
      - name: For build platform ${{ matrix.platform.arch }}
        run: |
          echo "matrix.platform (JSON): ${{ matrix.platform }}"
          echo "arch: ${{ matrix.platform.arch }}"
          echo "snf: ${{ matrix.platform.snf }}"
          echo "lfn: ${{ matrix.platform.lfn }}"
          ls -al ./
